@model Footballer

<form asp-controller="Footballer" asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control">
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control">
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Gender"></label>
        <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control">
            <option value="">Select Gender</option>
        </select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Birthdate"></label>
        <input asp-for="Birthdate" class="form-control" max="@ViewBag.TodaysDateString">
        <span asp-validation-for="Birthdate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TeamId"></label>
        <select asp-for="TeamId" asp-items="@ViewBag.TeamsSelectList" class="form-control" onchange="showNewTeamInput(this);">
            <option value="">-Select team-</option>
        </select>
        <span asp-validation-for="TeamId" class="text-danger"></span>
    </div>
    <div id="newTeam" class="mb-3" style="display: none; ">
        <label for="" class="form-label">Write team name</label>
        <input asp-for="Team.Name" type="text" class="form-control" disabled>
        <span asp-validation-for="Team.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CountryId"></label>
        <select asp-for="CountryId" asp-items="@ViewBag.CountriesSelectList" class="form-control">
            <option value="">Select Country</option>
        </select>
        <span asp-validation-for="CountryId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-outline-primary mt-2">
        Submit
    </button>
    <button asp-controller="Footballer" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-danger mt-2"
            onclick="return confirm('Are you sure you want to delete @Model.FirstName @Model.LastName?')">
        Delete
    </button>
</form>

<script src="~/js/footballer-form.js"></script>
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}