@model Footballer

@{
    ViewData["Title"] = "Catalog";
}

<h1>Footballers Catalog</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th> </th>
        </tr>
    </thead>
    <tbody id="tableBody">
    </tbody>
</table>

<partial name="_ModalPopUpPartial">

@section Scripts {
    <script src="~/js/index.js"></script>
}